@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,400;1,200&family=Roboto&display=swap');

:root{
    --colour1:#e2c2b3;
    --colour2:#f7f3f5;
    --colour3:#687477;
    --colour4:#171233;
    --colour5:#271f4f;
    --colour6:#3b3170;
    --colour7:#6659a5;
    --colour8:#9d8ec4;
    --colour9:#c2c1c2;
    --poppins:'Poppins',sans-serif;
    --roboto:"Roboto",sans-serif;
    --mrs-saint: 'Mrs Saint Delafield', cursive;
    --long-cang:'Long Cang', cursive;

}


.logo-image{
    padding:20px;
    
}

.container-fluid{
    margin:20px;
    font-family: var(--poppins);
}

.header-home{
    background-color:var(--colour2) ;
}

.btn-sort{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-6{
    margin-bottom: 20px;
    
}

.btn-cancel{
    margin-top: 10px;
}

.btn-add-mate{
    margin-top: 10px;
    margin-right: 10px;
}

.btn-leave{
    margin-top: 10px;
}